<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div>
        <a href="{{ path('home') }}">HOME</a><br>
        <br>
        <br>
        {% for club in clubs %}
            <a href="{{ path('club_show', {'id': club.id}) }}">{{ club.nom }}</a> <br>
        {% endfor %}
    </div>
</body>
</html>